@use 'variables';

.infos-bar{
    padding: 16px 24px;
    background-color: variables.$textColor1;
    display: flex;
    justify-content: space-between;

    &__infos{
        display: flex;
        gap: 40px;

        &__item{
            font-size: 14px;
            color: variables.$textColor2;
            
            b{
                color: variables.$textColor2;
                font-size: 18px;
                display: block;
            }
        }
    }

    @media (max-width: 640px){
        display: block;

        &__infos{
            display: block;
            
            &__item{
                margin-bottom: 20px;
            }
        }
    }

    @media (max-width: 1024px){
        &__infos{
            gap: 16px;
        }
    }
}